@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
   

  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }